html,
body {
  padding: 0;
  margin: 0;
  font-family:
    monospace,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}
footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #eaeaea;
  background-color: #000;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  margin-left: 0.5rem;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background-color: #fff;
}
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
